name: Free disk space

on:
  pull_request:
    types: [labelled]

concurrency:
  group: ${{ github.workflow }}-${{ github.head_ref }}
  cancel-in-progress: true

jobs:
  free-disk-space:
    if: contains(join(github.event.pull_request.labels.*.name), 'free-disk-space')
    uses: jlumbroso/free-disk-space@main
    with:
      # this might remove tools that are actually needed,
      # if set to "true" but frees about 6 GB
      tool-cache: false

      # all of these default to true, but feel free to set to
      # "false" if necessary for your workflow
      android: true
      dotnet: true
      haskell: true
      large-packages: true
      docker-images: true
      swap-storage: true
