name: Free disk space

on:
  pull_request:
    types: [labeled]

jobs:
  free-disk-space:
    if: contains(join(github.event.pull_request.labels.*.name), 'free-disk-space')
    runs-on: ubuntu-latest
    steps:
      - name: Free Disk Space (Ubuntu)
        uses: jlumbroso/free-disk-space@v1.3.1
        with:
          tool-cache: false
          android: true
          dotnet: true
          haskell: true
          large-packages: true
          docker-images: true
          swap-storage: true
