name: Tests

on:
  workflow_dispatch:
  push:
  merge_group:
  pull_request:
    types: [labeled, opened] # opened is required to allow external contributors

jobs:
  build:
    if: contains(github.event.pull_request.labels.*.name, 'run-workflow') || github.event_name == 'push'
    strategy:
      matrix:
        os: [ubuntu-latest, macos-latest, windows-latest]
        python-version: ["3.10", "3.11", "3.12", "3.13.5"]
    uses: qiboteam/workflows/.github/workflows/rules-poetry_with_free-space.yml@free_space
    with:
      os: ${{ matrix.os }}
      python-version: ${{ matrix.python-version }}
      doctests: false
      poetry-extras: "--with tests"
    secrets: inherit
